<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <div th:replace="fragments/header :: headers"></div>
    <body>
        <div th:replace="fragments/menu :: menu"></div>
        <h2 class="header">Add Profile Details</h2>
        <form name="userAddForm"  th:action="@{/ppp/profile/}" 
        	th:object="${user}" method="post"> 
			<table>
				<thead>
					<th>Field</th>
					<th>Value</th>
				</thead>			
				<tbody>
					<!--<tr>
						<td>Id</td>
						<td>
							<input readonly type="text" th:field="*{id}"/>
						</td>
					</tr>-->
					<tr>
						<td>First Name</td>
						<td>
                            <input type="text" name="firstName" class="form-control"
                                   size="50" th:required="true"
                                   placeholder="First Name"
                                   value="Sathish Kumar"
                                   th:attr="value = SathishKumar"
                                   th:field="*{firstName}"
                             />							
						</td>
					</tr>
					<tr>
						<td>Last Name</td>
						<td>
                            <input type="text" name="lastName" class="form-control"
                                   size="50" th:required="true"
                                   placeholder="Last Name"
                                   value="Thiyagarajan"
                                   th:field="*{lastName}"
                             />								
						</td>
					</tr>
					<tr>
						<td>Email Address</td>
						<td>
                            <input type="text" name="emailAddress" class="form-control"
                                   size="50" th:required="true"
                                   placeholder="Email Address"
                                   value="sathish@example.com"
                                   th:field="*{emailAddress}"
                             />								
						</td>
					</tr>
					<tr>
						<td>Mobile No.</td>
						<td>
                            <input type="text" name="mobileNo" class="form-control"
                                   size="20" th:required="true"
                                   placeholder="Mobile Number"
                                   value="7890123456"
                                   th:field="*{mobileNo}"
                             />								
						</td>
					</tr>
					<tr>
						<td>UserId</td>
						<td>
                            <input type="text" name="userId" class="form-control"
                                   size="50" th:required="true"
                                   placeholder="User Id"
                                   value="sathish"
                                   th:field="*{userId}"
                             />									
						</td>
					</tr>
					<tr>
						<td>Password</td>
						<td>
                            <input type="text" name="password" class="form-control"
                                   size="20" th:required="true"
                                   placeholder="Password"
                                   value="sathish@789"
                                   th:field="*{password}"
                             />								
						</td>
					</tr>
					<tr>
                        <td>

                        </td>
                        <td>
                            <input type="submit" name="Add" value="Add"/>
                        </td>
                    </tr>					
				</tbody>
			</table>
        </form>
        <div th:replace="fragments/footer :: copy"></div>
    </body>
</html>